* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: #fff;
}

/* LOGIN */
.login-body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box {
  background: #020617;
  padding: 30px;
  border-radius: 12px;
  width: 320px;
  box-shadow: 0 0 20px rgba(0,0,0,.5);
}

.login-box h2 {
  text-align: center;
}

.login-box input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 6px;
  border: none;
}

.login-box button {
  width: 100%;
  padding: 12px;
  background: #38bdf8;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}

#error {
  color: #f87171;
  text-align: center;
}

/* DASHBOARD */
.topbar {
  background: #020617;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topbar button {
  background: #ef4444;
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  color: white;
  cursor: pointer;
}

.dashboard {
  padding: 30px;
}

.card {
  background: #020617;
  max-width: 500px;
  margin: auto;
  padding: 25px;
  border-radius: 12px;
}

.card input,
.card textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 6px;
  border: none;
}

.card button {
  width: 100%;
  padding: 12px;
  background: #22c55e;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}
